<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AspGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AspGen.Properties.Settings>
            <setting name="NumberOfDrawLensRays" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DrawLensPreRayDistance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DrawLensDrawCL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputRaySet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtSrcNoofBaseRays" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExtSrcNoofAngles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NoOfDigitsSpotDiagLabels" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WFE2DMapSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PSFTotalGridSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="PSFBeamGridSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpotDiagramSpokesInc" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpotDiagramRadialSamples" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ExtScrVerticalAverage1D" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransversDataPoints" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ExtSrcNoofBins" serializeAs="String">
                <value>201</value>
            </setting>
        </AspGen.Properties.Settings>
    </userSettings>
</configuration>